{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
<style>
</style>
    <div class="row">
        <div class="col">
                <div class="card"style="width: 18rem; margin: 35px auto">
                    <img src="{{ products.image }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ products.name }}</h5>
                        <h5 class="card-title"> €{{ products.price }}</h5>
                    </div>
                </div>
        </div>
        <div class="col">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary">Create!</button>
            {{ form_end(form) }}

        </div>
    </div>

{% endblock %}
