  {% extends 'base.html.twig' %}

{% block title %}Hello OrderController!{% endblock %}

{% block body %}
    {% for message in app.flashes('succes') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Adress</th>
                <th scope="col">status</th>
                <th scope="col">product</th>
                <th scope="col">price</th>
                <th scope="col">amount</th>
                <th scope="col">pizza size</th>
            </tr>
            </thead>
            <tbody>
            {% for order in orders %}


            <tr>
                <td> {{ order.name }} </td>
                <td> {{ order.adress }}</td>
                <td class="bg-danger"> {{ order.status }}</td>
                <td> {{ order.products.name }}</td>
                <td> {{ order.products.price }}</td>
                <td> {{ order.amount }}</td>
                <td> {{ order.pizzaSize }}</td>
            </tr>

            {% endfor %}

            </tbody>
        </table>
        <br>
    </div>
{% endblock %}
